*{
    margin: 0;
    padding: 0;
}


:root{
    --navbar-height: 59px;
}

#navbar{
    display: flex;
    align-items: center;
}

#pic1{
    margin: 10px 35px;
}

#pic1 img{
    height : 56px;
    margin : 13px 15px;

}

#navbar{
    position: relative;
}

#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
  
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: pink;
    background-color: white;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url('../pic2.png') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;  
}

#home.h1{
    color: black;
    text-align: center;
    font-size: 1.5rem;
}

.h-primary{
    font-size: 4.0rem;
    padding: 12px;
}







